@charset "utf-8";
/* 站点说明： 公用样式，链接、按钮等
 * 开发时间： 
 * 开发者： 
 * 维护者： 
 *
 * 样式版本： v1.0
 * 版本时间： 
 * 注意事项： 公用样式，链接、按钮等
 */

html{
    font-size:100px;/*10÷16=62.5%*/
}
.nM-title{
    position: relative;
}
.nM-title h1{
    color: #fff;
    height:0.42rem;
    line-height:0.42rem;
    background-color: #07b68b;
    font-size: 0.18rem;
    text-align: center;
    font-weight: normal;
}
.nM-title a{
    position: absolute;
    right: 0.125rem;
    width: 0.24rem;
    height: 0.43rem;
    color: #333;
    font-size: 0.12rem;
    top:0;
    text-align: right;
}

.nM-title a.aClose{
    background: rgba(0,0,0,0.2);
    text-align: center;
    width: 0.33rem;
    height: 0.33rem;
    top:0.05rem;
    font-size: 0.2rem;
    line-height: 0.33rem;
    right: 0.05rem;
}
.nM-title p{ height: 0.33rem; line-height: 0.33rem; text-align: center; font-size: 0.12rem; color: #666; background-color: #f0f0f0;}

.nM-prompt{
    padding-bottom: 0.08rem;
    padding-top: 0.08rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid #f1ece5;
}
.nM-prompt p{
    font-size: 0.11rem;
    line-height: 0.15rem;
    text-align: center;
    color: #666;
}
.nM-prompt p span{
    color: #ff7d01;
}
.pop-form{
    position: absolute;
    z-index: 18;
    width: 100%;
    top: 0;
    /*height: 100%;*/
    background: #fff;
}